.venv/
__pycache__/
.vscode/
*.pem
*.retry
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tgz
node_modules/
03-docker/project-vars
04-terraform-integration/project-vars
05-dynamic-inventory/project-vars
